<h1 class="h3 mb-3 font-weight-normal text-center">Users</h1>
<ng-container *ngIf="sortCriteria$ | async as sortCriteria">
    <ng-container *ngIf="searchFilter$ | async as filter">
      <users-search-panel (filterUsersList)="filterUsers($event)" [filter]="filter"></users-search-panel>
      <users-table [users]="filteredUsers$ | async" [sortColumn]="sortCriteria.sortColumn"
                   (deleteUser)="deleteUser($event)" (sortUsersList)="sortUsers($event)"></users-table>
    </ng-container>
</ng-container>
