<div>
  <h1 class="h3 mb-3 font-weight-normal text-center">
    <ng-container *ngIf="user.userID && user.userID > 0">Edit Publisher</ng-container>
    <ng-container *ngIf="!user.userID || user.userID === 0">Add Publisher</ng-container>    
  </h1>
  <div class="user-edit-form">
    <form [formGroup]="userEditForm" (ngSubmit)="save()">
          <div class="form-group row">
              <label class="col-sm-3 col-form-label">UserName:</label>
              <div class="col-sm-9">
                  <input type="text" placeholder="Enter user name" formControlName="userName" class="form-control" 
                        [ngClass]="{'is-invalid': userEditForm.controls.userName.touched && !userEditForm.controls.userName.valid}"/>   
                  <div *ngIf="userEditForm.controls.userName.hasError('required') && userEditForm.controls.userName.touched" class='text-danger'>Field required</div>  
                  <div *ngIf="userEditForm.controls.userName.errors?.maxlength && userEditForm.controls.userName.touched" 
                        class='text-danger'>The field cannot contain more than 50 characters</div> 
              </div>
          </div>
          <ng-container formGroupName="passwordGroup">
          <div class="form-group row">
              <label class="col-sm-3 col-form-label">Password:</label>
              <div class="col-sm-9">
                  <input type="password" placeholder="Enter password (only if you want to change it!)" formControlName="password" class="form-control" 
                        [ngClass]="{'is-invalid': userEditForm.get('passwordGroup.password').touched && !userEditForm.get('passwordGroup.password').valid}"/>                     
                  <div *ngIf="userEditForm.get('passwordGroup.password').errors?.maxlength && userEditForm.get('passwordGroup.password').touched" 
                        class='text-danger'>The field cannot contain more than 128 characters</div>
                  <div *ngIf="userEditForm.get('passwordGroup.password').errors?.required && userEditForm.get('passwordGroup.password').touched" 
                        class='text-danger'>Field required</div> 
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label">Confirm Password:</label>
              <div class="col-sm-9">
                  <input type="password" placeholder="Confirm password" formControlName="passwordConfirm" class="form-control" 
                        [ngClass]="{'is-invalid': userEditForm.get('passwordGroup.passwordConfirm').touched && !userEditForm.get('passwordGroup.passwordConfirm').valid}"/>                     
                  <div *ngIf="userEditForm.get('passwordGroup.passwordConfirm').errors?.maxlength && userEditForm.get('passwordGroup.passwordConfirm').touched" 
                        class='text-danger'>The field cannot contain more than 128 characters</div> 
                    <div *ngIf="userEditForm.get('passwordGroup').errors?.confirm && userEditForm.get('passwordGroup.passwordConfirm').touched" 
                        class='text-danger'>Password and Password Confirm must match</div> 
              </div>
          </div>
        </ng-container>
          <div class="form-group row">
              <label class="col-sm-3 col-form-label">First name:</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Enter first name" formControlName="firstName" class="form-control" 
                [ngClass]="{'is-invalid': userEditForm.controls.firstName.touched && !userEditForm.controls.firstName.valid}"/>   
              <div *ngIf="userEditForm.controls.firstName.hasError('required') && userEditForm.controls.firstName.touched" class='text-danger'>Field required</div>  
              <div *ngIf="userEditForm.controls.firstName.errors?.maxlength && userEditForm.controls.firstName.touched" 
                    class='text-danger'>The field cannot contain more than 50 characters</div> 
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label">Last Name:</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Enter last name" formControlName="lastName" class="form-control" 
                      [ngClass]="{'is-invalid': userEditForm.controls.lastName.touched && !userEditForm.controls.lastName.valid}"/>   
                <div *ngIf="userEditForm.controls.lastName.hasError('required') && userEditForm.controls.lastName.touched" class='text-danger'>Field required</div>  
                <div *ngIf="userEditForm.controls.lastName.errors?.maxlength && userEditForm.controls.lastName.touched" 
                      class='text-danger'>The field cannot contain more than 50 characters</div> 
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label">Email:</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Enter email" formControlName="email" class="form-control" 
                      [ngClass]="{'is-invalid': userEditForm.controls.email.touched && !userEditForm.controls.email.valid}"/>   
                <div *ngIf="userEditForm.controls.email.hasError('email') && userEditForm.controls.email.touched" class='text-danger'>Invalid email</div>
                <div *ngIf="userEditForm.controls.email.hasError('required') && userEditForm.controls.email.touched" class='text-danger'>Field required</div>  
                <div *ngIf="userEditForm.controls.email.errors?.maxlength && userEditForm.controls.email.touched" 
                      class='text-danger'>The field cannot contain more than 100 characters</div> 
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label">Address:</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Enter address" formControlName="address" class="form-control" 
                [ngClass]="{'is-invalid': userEditForm.controls.address.touched && !userEditForm.controls.address.valid}"/>   
                <div *ngIf="userEditForm.controls.address.hasError('required') && userEditForm.controls.address.touched" class='text-danger'>Field required</div>  
                <div *ngIf="userEditForm.controls.address.errors?.maxlength && userEditForm.controls.address.touched" 
                      class='text-danger'>The field cannot contain more than 200 characters</div> 
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label">Date Of Birth:</label>
              <div class="col-sm-9">                   
                  <input type="text" placeholder="Enter date of birth" formControlName="dateOfBirth" class="form-control" #dp="bsDatepicker" bsDatepicker
                   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                   [ngClass]="{'is-invalid': userEditForm.controls.dateOfBirth.touched && !userEditForm.controls.dateOfBirth.valid}" /> 
                  <div *ngIf="userEditForm.controls.dateOfBirth.hasError('required') && userEditForm.controls.dateOfBirth.touched" 
                        class='text-danger'>Field required</div>                  
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label">Role:</label>
              <div class="col-sm-9">                  
                    <div *ngFor="let role of roles" class="form-check">
                        <label class="form-check-label">
                            <input type="radio" [value]="role.id" formControlName="role" />                               
                            {{role.name}}
                        </label>                                    
                    </div>  
                    <div *ngIf="userEditForm.controls.role.hasError('required') && userEditForm.controls.role.touched" 
                            class='text-danger'>Select role</div>     
                    <div *ngIf="userEditForm.controls.role.hasError('id') && userEditForm.controls.role.touched" 
                            class='text-danger'>Select role</div>            
              </div>
          </div>

          <div class="form-group row">
              <div class="col-sm-offset-3 col-sm-9">
                    <span [ngStyle]="{ 'margin-right': '20px' }">
                            <button class="btn btn-primary" type="submit">                  
                              <ng-container *ngIf="user.userID && user.userID > 0">Update</ng-container>
                              <ng-container *ngIf="!user.userID || user.userID === 0">Add</ng-container>    
                            </button>
                        </span>
                        <button *ngIf="!user.userID || user.userID === 0" class="btn btn-secondary" (click)="redirectToUsersList()">Return</button>
                        <button *ngIf="user.userID && user.userID > 0" class="btn btn-secondary" (click)="cancelEdit.emit()">Cancel</button>
              </div>
          </div>
                 
          <div *ngIf="!!userUpdateResult && !userUpdateResult.success" class="form-group row text-danger">
            <span *ngIf="userUpdateResult.emailTaken">
                The email is already taken
            </span>
            <span *ngIf="userUpdateResult.userNameTaken">
                The user name is already taken
            </span>
          </div>
      </form>
  </div>
</div>