<div *ngIf="authorsSearchFilter$ | async as authorsSearchFilter">
  <h1 class="h3 mb-3 font-weight-normal text-center">Authors</h1>
  <authors-search-panel [authorsSearchFilter]="authorsSearchFilter"
    (filterAuthorsList)="filterAuthors($event)"></authors-search-panel>
  <authors-table *ngIf="sortCriteria$ | async as sortCriteria"
    [authors]="filteredAuthors$ | async" [sortColumn]="sortCriteria.sortColumn" (deleteAuthor)="deleteAuthor($event)" (sortAuthorsList)="sortAuthors($event)"></authors-table>
</div>
